<div class="main-navigation-container">
    <h1>Biblioteca Digital</h1>
    <app-search-books></app-search-books>
    <div class="container-botton">
        <button class="button-primary" type="button" (click)="closeSession()">Salir</button>
    </div>
</div>

<div class="container-body">
    <div class="container-menu">
       <button #users value="users" class="button-primary button-menu" type="button" (click)="goToFlows(users.value)">Usuarios</button>
       <button #affinity value="affinity" class="button-primary button-menu" type="button" (click)="goToFlows(affinity.value)">Afinidad</button>
       <button #statistics value="statistics" class="button-primary button-menu" type="button" (click)="goToFlows(statistics.value)">Estadísticas</button>
    </div>
</div>

<app-modal #modalRecordBook></app-modal>

<router-outlet></router-outlet>