<div class="container">
    <h3 class="greeting">Hola {{ user?.name }}, este es tu historial de préstamos</h3>
    <div class="container-loans">
        <h4 class="button-third loan-columns">Libro</h4>
        <h4 class="button-third loan-columns">Calificación</h4>
        <h4 class="button-third loan-columns">Fecha Préstamo</h4>
        <h4 class="button-third loan-columns">Acción</h4>
    </div>
    <div class="container-loans" *ngFor="let loan of loans">
        <p class="loan">{{ loan?.book?.name }}</p>
        <span class="loan loan-rate">
            <div class="stars container-stars">
                <ng-container *ngFor="let i of [1,2,3,4,5]">
                    <span [class.filled]="i <= (loan?.book?.score ?? 0)">★</span>
                </ng-container>
            </div>
        </span>

        <p class="loan">{{ loan?.loanDate }}</p>
        <button value="{{ loan?.returnDate ? 'Devolver' : 'Calificar' }}" class="loan button-primary action"
            (click)="loan.state === loanStates.RETURNED ? rateBook(loan) : (loan.state === loanStates.WAITING) ? deleteLoan(loan) : returnBook(loan)">
            {{ loan.state === loanStates.RETURNED ? 'Calificar' : (loan.state === loanStates.WAITING) ? 'En espera' : 'Devolver' }}
        </button>
    </div>
</div>

<app-modal class="modal-rate" #modalRate name="Calificar Libro">
    <div class="modal-rate" style="margin: 36px;" >
        <p class="modal-rate">Al seleccionar una de las opciones, se enviará la calificación correspondiente. Vas a calificar el libro:</p>
        <h5 class="modal-rate">{{ bookRate?.name }}.</h5>
        <div class="options" >
            <div *ngFor="let i of [1,2,3,4,5]">
                <button #rate value="{{i}}" class="button-primary rate" (click)="sendRating(i)">{{i}}</button>
            </div>
        </div>
    </div>
</app-modal>

<app-modal #modalDeleteLoan title="Cancelar Préstamo">
    <div style="margin: 36px;">
        <p>¿Estás seguro de que deseas cancelar este préstamo del libro?</p>
        <h5>{{ loanDelete?.book?.name }}.</h5>
        <div class="options">
            <button class="button-primary" (click)="confirmDeleteLoan()">Cancelar</button>
        </div>
    </div>
</app-modal>